body {
    display: flex;
    flex: auto;
    flex-flow: column nowrap;
}

body * {
    display: flex; 
    flex: 0 auto;
}

button {
    flex-grow: 0;
}

script {
    display: none;
}

.grid *{
    display: flex;
    flex: auto;
}

.grid {
    display: flex;
    flex-flow: column nowrap;
    flex: auto;
}

.row {
    flex-flow: row nowrap;
}

.row * {
    flex-flow: row nowrap;
    min-height: 6.25vh;
    min-width: 6.25vw;
    background-color: black;
} 

.etched {
    background-color: pink;
}