body {
    display: flex;
    flex: auto;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

body * {
    display: flex; 
    flex: 0 auto;
}

button {
    flex-grow: 0;
    max-width: 150px;
}

script {
    display: none;
}

.grid *{
    display: flex;
    flex: auto;
}

.grid {
    display: flex;
    flex-flow: column nowrap;
    flex: auto;
    align-items: center;
    justify-content: center;
    height: 960px;
    width: 960px;
    gap: 0;
}

.row {
    flex-flow: row nowrap;
    width: 960px;
    min-height: 1vh;
    min-width: 1vw;
    max-height: 960px;
    max-width: 960px;
    justify-content: center;
    align-items: center;
    gap: 0;
}

.row * {
    flex-flow: row nowrap;
    min-height: 1vh;
    min-width: 1vw;
    max-height: 100vh;
    max-width: 100vw;
    gap: 0;
} 

.block {
    background-color: black;
    aspect-ratio: 1 / 1;
}

.etched {
    background-color: pink;
    aspect-ratio: 1 / 1;
}