.grid *{
    display: flex;
    flex: auto;
}

.grid {
    display: flex;
    flex-flow: column nowrap;
    flex: auto;
}

.row1, 
.row2, 
.row3, 
.row4 {
    flex-flow: row nowrap;
}

.row1 *, 
.row2 *, 
.row3 *, 
.row4 * {
    flex-flow: row nowrap;
    min-height: 6.25vh;
    min-width: 6.25vw;
    background-color: black;
} 